.detail {
  flex: 1;

  .user {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .membersSection {

      
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
      h3 {
        padding-bottom: 25px;
      }
      .memberItem {
        display: flex; 
        justify-content: space-between; 
        align-items: center;

        .memberDetail{
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }
    }

    button {
      padding: 15px;
      background-color: rgba(230, 74, 105, 0.553);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 700;

      transition: background-color 0.3s;
      &:hover {
        background-color: rgba(220, 20, 60, 0.796);
      }
    }
  }
}