.searchUser {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;

    .form {

        display: flex;
        width: 100%;
        input {
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            flex: 1;
          }
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    button{
            padding: 15px;
            border-radius: 10px;
            background-color: #1a73e8;
            color: white;
            border: none;
            cursor: pointer;
        }
}