* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Jet Brains Mono, monospace;
}

body {
  background-image: url('/bg-2.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 90vw;
  height: 90vh;
  border-radius: 12px;
  background: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}