* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Jet Brains Mono, monospace;
}

body {
  background-image: url('/bg.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 90vw;
  height: 90vh;
  border-radius: 12px;
  background: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(18px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); 
  border: 2px solid transparent; 
  background-clip: content-box; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4); 
}
::-webkit-scrollbar-corner {
  background: transparent;
}